<!DOCTYPE html>
<html lang="es-ES">

<head>
{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TPV | Pequeño Comercio</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static "common/templates/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "common/templates/fonts/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "common/templates/css/animate.min.css" %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static "common/templates/css/custom.css" %}" rel="stylesheet">
    <link href="{% static "common/templates/css/icheck/flat/green.css" %}" rel="stylesheet">

    <!-- Select 2 -->
    <script src="js/select/select2.full.js"></script>
    <script src="{% static "common/templates/js/jquery.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
    </script>

    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body style="background:#F7F7F7;">

    <div class="">
        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    <form class="form-horizontal form-label-left" method='post' action='#' id="neWorker"> {% csrf_token %}
                        <h1>Crea tu Cuenta</h1>
                        <div>
                            <!-- Smart Wizard -->
                            <div id="wizard" class="form_wizard wizard_horizontal">
                                <ul class="wizard_steps">
                                    <li>
                                        <a href="#step-1">
                                            <span class="step_no">1</span>
                                            <span class="step_descr">
                                                Paso 1<br />
                                                <small>Datos del usuario (1 de 3)</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-2">
                                            <span class="step_no">2</span>
                                            <span class="step_descr">
                                                Paso 2<br />
                                                <small>Datos del usuario (2 de 3)</small>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#step-3">
                                            <span class="step_no">3</span>
                                            <span class="step_descr">
                                                Paso 3<br />
                                                <small>Direccion del usuario (3 de 3)</small>
                                            </span>
                                        </a>
                                    </li>
                                </ul>

                                    <div id="step-1">
                                        {{ newuser.as_p }}
                                        {{ newuser.error }}
                                    </div>
                                    <div id="step-2">

                                        {{ neworker.as_p }}
                                        {{ neworker.error }}
                                    </div>
                                    <div id="step-3">
                                        {{ newAddress.as_p }}
                                        {{ newAddress.error }}
                                    </div>
                                    <div>
                                        <input type="hidden" name="inputInLogin" value="registerUser">
                                        <!--button class="btn btn-default submit" type="submit">Registrar</a-->
                                    </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">¿Ya está usted registrado?
                                <a href="/login" class="to_register"> Entra </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>Universidad de Cordoba</h1>

                                <p>Trabajo Fin de Grado por <a>Adam Mora Tortajada</a>.</p>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{% static "common/templates/js/wizard/jquery.smartWizard.js"%}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Smart Wizard
            $('#wizard').smartWizard();

            function onFinishCallback() {
                $('#wizard').smartWizard('showMessage', 'Finish Clicked');
                //alert('Finish Clicked');
            }
        });

        $(document).ready(function () {
            // Smart Wizard
            $('#wizard_horizontal').smartWizard({
                transitionEffect: 'slide'
            });

        });
    </script>

</body>

</html>
