<!--
//    This file is part of TPVpn.
//
//    TPVpn is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    TPVpn is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
//
//    You should have received a copy of the GNU General Public License
//    along with TPVpn.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="es-ES">

<head>
{% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TPV | Pequeño Comercio</title>

    <!-- Bootstrap core CSS -->
    <!-- CAMBIAR TODOS LOS STATIC POR COMMON TEMPLATES -->
    <link href="{% static "common/templates/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "common/templates/fonts/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "common/templates/css/animate.min.css" %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static "common/templates/css/custom.css" %}" rel="stylesheet">
    <link href="{% static "common/templates/css/icheck/flat/green.css" %}" rel="stylesheet">


</head>

<body style="background:#F7F7F7;" ng-app='TPVpnapp'>
    <div ng-controller='LoginCtrl'>
        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    <form method='post' action='' id="loginusernow"> {% csrf_token %}
                        <h1>Inicia Sesión</h1>
                        <div>
                            <!--input type='text' class='form-control' placeholder='Nombre de usuario*' ng-model='LoginForm.username'></input>
                            <input type='password' class='form-control' placeholder='Contraseña*' ng-model='LoginForm.password'></input>

                            {$ LoginForm.username $}
                            {$ fail.text $} -->
                            {{ loginuser }}
                            {{ loginuser.error }}

                        </div>
                        <div>
                            <input type="hidden" name="inputInLogin" value="loginUser">
                            <button class="btn btn-default submit" type="submit">Entrar</button>
                            <!--a type="submit" class="btn btn-default submit" ng-click='formLogin()'>Entrar</a-->
                            <a class="reset_pass" href="#">¿Perdiste tu contraseña?</a>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
            <!-- INICIO NEGOCIO -->
            <div id="business" class="animate form">
                <section class="login_content">

                    <form class="form-horizontal form-label-left" method='post' action='/#tologin' id="newBusiness"> {% csrf_token %}
                        <h1>Registra tu Negocio</h1>
                        <div>
                                    <!-- Smart Wizard -->
                                    <div id="wizard" class="form_wizard wizard_horizontal">
                                        <ul class="wizard_steps">
                                            <li>
                                                <a href="#step-1">
                                                    <span class="step_no">1</span>
                                                    <span class="step_descr">
                                                        Paso 1<br />
                                                        <small>Datos del negocio</small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-2">
                                                    <span class="step_no">2</span>
                                                    <span class="step_descr">
                                                        Paso 2<br />
                                                        <small>Dirección del comercio</small>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>

                                            <div id="step-1">
                                                {{ newbusiness.as_p }}
                                                {{ newbusiness.error }}
                                            </div>
                                            <div id="step-2">
                                                {{ newAddress.as_p }}
                                                {{ newAddress.error }}
                                            </div>
                                            <div>
                                                <input type="hidden" name="inputInLogin" value="registerMarket">
                                                <!--button class="btn btn-default submit" type="submit">Registrar</a-->
                                            </div>
                                    </div>
                                    <!-- End SmartWizard Content -->
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">¿Su negocio esta registrado?
                                <a href="/#tologin" class="to_business"> Entra </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>Universidad de Cordoba</h1>

                                <p>Trabajo Fin de Grado por <a>Adam Mora Tortajada</a>.</p>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
            <!-- FIN NEGOCIO -->
        </div>
    </div>

    <script type="text/javascript" src="{% static "common/templates/js/wizard/jquery.smartWizard.js"%}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Smart Wizard
            $('#wizard').smartWizard();

            function onFinishCallback() {
                $('#wizard').smartWizard('showMessage', 'Finish Clicked');
                //alert('Finish Clicked');
            }
        });

        $(document).ready(function () {
            // Smart Wizard
            $('#wizard_verticle').smartWizard({
                transitionEffect: 'slide'
            });

        });
    </script>

    <!-- AngularJs -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.min.js"></script>
    <script src="{% static "app.js" %}"></script>
    <script src="{% static "common/controllers/controllers.js" %}"></script>
    <script src="{% static "common/factories/factories.js" %}"></script>
    <script src="{% static "common/services/services.js" %}"></script>


</body>

</html>
