{% extends 'base.html' %}
    {% load staticfiles %}
{% block style %}
    <!-- switchery -->
    <link rel="stylesheet" href="{% static "common/templates/css/switchery/switchery.min.css" %}" />
{% endblock %}
{% block mainContent %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="row">
            <div class="page-title">
                <div class="title_left">
                    <h3>Agregar Cliente</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Nuevo cliente <small>(introduzca los datos para agregar un cliente al comercio)</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form class="form-horizontal form-label-left" method='post' action='' id="newprod" enctype="multipart/form-data"> {% csrf_token %}
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title"></h2>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre del cliente <span class="required">*</span><div class='byline'><span class='red'>{{ newClient.name.errors }}</span></div>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ newClient.name }}
                                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">DNI del cliente <span class="required">*</span><div class='byline'><span class='red'>{{ newClient.dni.errors }}</span></div>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ newClient.dni }}
                                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Telefono del cliente <span class="required"> </span><div class='byline'><span class='red'>{{ newClient.tel.errors }}</span></div>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ newClient.tel }}
                                                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">E-mail <span class="required"> </span><div class='byline'><span class='red'>{{ newClient.email.errors }}</span></div>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ newClient.email }}
                                                <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Cartera <span class="required">*</span><div class='byline'><span class='red'>{{ newClient.wallet.errors }}</span></div>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ newClient.wallet }}
                                                <span class="fa fa-eur form-control-feedback right" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Foto de perfil <span class="required"> </span><div class='byline'><span class='red'>{{ newClient.image.errors }}</span></div>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                {{ newClient.image }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br >
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <input type="hidden" name="inputInNewCli" value="newCli">
                                        <a href='/new_client' class="btn btn-primary">Cancelar</a>
                                        <button type="submit" class="btn btn-success">Aceptar</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

    <div class="clearfix"></div>


    {% block scripts %}
        <!-- switchery -->
        <script src="{% static "common/templates/js/switchery/switchery.min.js" %} "></script>
        <!-- textarea resize -->
        <script src="{% static "common/templates/js/textarea/autosize.min.js" %} "></script>
        <script>
            autosize($('.resizable_textarea'));
        </script>

        <!-- editor -->
        <script>
            $(function () {
                function showErrorAlert(reason, detail) {
                    var msg = '';
                    if (reason === 'unsupported-file-type') {
                        msg = "Unsupported format " + detail;
                    } else {
                        console.log("error uploading file", reason, detail);
                    }
                    $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                        '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
                };
            });
        </script>
        <!-- /editor -->

        <script type="text/javascript">
            $(document).ready(function () {
                $('#birthday').daterangepicker({
                    singleDatePicker: true,
                    calender_style: "picker_4"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
            });
        </script>
    {% endblock %}
{% endblock %}
