{% extends 'base.html' %}
    {% load render_table from django_tables2 %}
    {% load staticfiles %}
{% block style %}
  <!-- Custom styling plus plugins -->
  <link href="{% static "common/templates/css/custom.css" %}" rel="stylesheet">
  <link href="{% static "common/templates/css/datatables/tools/css/dataTables.tableTools.css" %}" rel="stylesheet">
{% endblock %}
{% block mainContent %}
  <!-- page content -->
    <div class="row">
      <div class="page-title">
        <div class="title_left">
            <h3>Productos</h3>
        </div>
        <div class="title_right">
          <form method='GET' action='' id='searchBill'>
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    {{search_product.search}}
                    <span class="input-group-btn">
                      <input type="hidden" name="searching" value="searchProd">
                      <button class="btn btn-default" type="submit">Ir!</button>
                    </span>
                  </div>
              </div>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Filtrar Productos</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if table %}
                    <form method="GET" action=".">
                        <div class="col-md-12">
                            <div class='col-md-3'>{{filter_products.bar_code}}</div>
                            <div class='col-md-3'>{{filter_products.provider}}</div>
                            <div class='col-md-3'>{{filter_products.brand}}</div>
                            <div class='col-md-3'>{{filter_products.iva}}</div>
                        </div>
                        <br><br><br>
                        <div class="col-md-12">
                            <a href="{{request.path}}" class="btn btn-default" style="float: right">Restablecer Criterios</a>
                            <button type="submit" class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-search"></i> Filtrar</button>
                        </div>
                    </form>
                    <!-- PARA QUE SALGA LA PAGINACIÓN, DIRIGETE A /usr/local/lib/python2.7/dist-packages/django_tables2/templates/table.html -->
                    {% render_table table %}
                    {% else %}
                        <div class="alert alert-info" role="alert">No se han encontrado resultados</div>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    function delete_product(product_name,id_product)
    {
      var deleteProd = confirm("¿Está seguro que desea eliminar el producto '"+product_name+"'?");

      if(deleteProd)
      {
        var url = "/products/delete/"+id_product;
        window.location.assign(url);
      }
    }
  </script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "[id^='datepicker']").datepicker();
    } );
  </script>


  <script>
     $.datepicker.regional['es'] = {
       closeText: 'Cerrar',
       prevText: 'Anterior',
       nextText: 'Siguiente',
       currentText: 'Hoy',
       monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
       monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
       dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
       dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
       dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
       weekHeader: 'Sm',
       dateFormat: 'dd/mm/yy',
       firstDay: 1,
       isRTL: false,
       showMonthAfterYear: false,
       yearSuffix: ''
     };
     $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
    $("#fecha").datepicker();
    });
  </script>

{% endblock %}
