<!--
//    This file is part of TPVpn.
//
//    TPVpn is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    TPVpn is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
//
//    You should have received a copy of the GNU General Public License
//    along with TPVpn.  If not, see <http://www.gnu.org/licenses/>.
-->


{% extends 'base.html' %}
    {% load staticfiles %}
{% block style %}
{% endblock %}
{% block mainContent %}
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2><i class="fa fa-filter"></i> Filtros <small>Según fecha, IVA o categoría</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form action='.' method="GET">
					<div class="col-md-4 col-sm-6 col-xs-12">
						{{form.start_date}}<br>
						<span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						{{form.end_date}}<br>
						<span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						{{form.categorys}}<br>
					</div>
					<div class="col-md-12 col-sm-6 col-xs-12">
						<a href="{{request.path}}" class="btn btn-default" style="float: right">Restablecer Criterios</a>
						<button type="submit" class="btn btn-primary" style="float: right"><i class="glyphicon glyphicon-search"></i> Buscar</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2><i class="fa fa-money"></i> Facturación Monetaria <small>Cambiarán en función al filtro aplicado</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
			        <b>Período del calculo: </b>
			        {% if start_date %}
			        	Desde el <a class="green">{{start_date}}</a>
			        {% endif %}
			        {% if end_date %}
			        	Hasta el <a class="green">{{end_date}}</a>
			        {% endif %}
			        {% if not start_date and not end_date %}
			        	<a class="green">Total Facturado</a>
			        {% endif %}
			        {% if fil_category %}
			        	<br><b>Para la categoría:</b> <a class="green">{{fil_category}}</a>
			        {% endif %}
			        <br><div class="clearfix"></div><br>
			        <table class="table table-striped projects">
			        	<thead>
			        		<tr>
			        			<th><center>Costes</center></th>
			        			<th><center>Ingresos</center></th>
			        			<th><center>Beneficio</center></th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		<tr>
			        			<td><center>{{coste}}€</center></td>
			        			<td><center>{{ingreso}}€</center></td>
			        			<td><center>{{beneficio}}€</center></td>
			        		</tr>
			        	</tbody>
			        </table>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2><icon><b>%</b></icon> Facturación según IVA <small>Cambiarán en función al filtro aplicado</small></h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
			        <b>Período del calculo: </b>
			        {% if start_date %}
			        	Desde el <a class="green">{{start_date}}</a>
			        {% endif %}
			        {% if end_date %}
			        	Hasta el <a class="green">{{end_date}}</a>
			        {% endif %}
			        {% if not start_date and not end_date %}
			        	<a class="green">Total Facturado</a>
			        {% endif %}
			        {% if fil_category %}
			        	<br><b>Para la categoría:</b> <a class="green">{{fil_category}}</a>
			        {% endif %}
			        <br><div class="clearfix"></div><br>
			        <table class="table table-striped projects">
			        	<thead>
			        		<tr>
			        			<th><center>21%</center></th>
			        			<th><center>10%</center></th>
			        			<th><center>4%</center></th>
			        		</tr>
			        	</thead>
			        	<tbody>
			        		<tr>
			        			<td><center>{{iva21}}€</center></td>
			        			<td><center>{{iva10}}€</center></td>
			        			<td><center>{{iva4}}€</center></td>
			        		</tr>
			        	</tbody>
			        </table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
			    <div class="x_title">
			        <h2><i class="fa fa-align-left"></i> Ventas realizadas <small>Pulse sobre una venta para desplegar su información</small></h2>
			        <div class="clearfix"></div>
			    </div>
			    <div class="x_content">
			        <!-- start accordion -->
			        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
			            {% for sale in sales %}
			            <div class="panel">
			                <a class="panel-heading" role="tab" id="heading{{sale.id}}" data-toggle="collapse" data-parent="#accordion" href="#{{sale.id}}" aria-expanded="false" aria-controls="{{sale.id}}">
			                    <div class="col-md-8 col-sm-8 col-xs-8">
			                    	<h4 class="panel-title"><b>{{sale.sale_code}}</b></h4>
			                    </div>
			                    <div class="col-md-4 col-sm-4 col-xs-4" style="text-align: right;">
			                    	<h4 class="panel-title">{{sale.date}}</h4>
			                    </div>
			                    <br>
			                </a>
			                <div id="{{sale.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{sale.id}}">
			                    <div class="panel-body">
									<div class="row invoice-info">
										<div class="col-sm-4 invoice-col">
											De
											<address>
											<strong>{{sale.seller.user.first_name}} {{sale.seller.user.last_name}} ({{sale.market.name}})</strong>
												<br>C/{{sale.market.direction.direction}}, Nº {{sale.market.direction.numDir}} - {{sale.market.direction.stairs}} {{sale.market.direction.numFlat}} {{sale.market.direction.door}}
												<br>{{sale.market.direction.location}} ({{sale.market.direction.province}}), CP {{sale.market.direction.postalCode}} 
												<br>Teléfono: {{sale.market.tel}}
												<br>Email: {{sale.market.email}}
											</address>
										</div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 invoice-col">
											Para
											<address>
												{% if sale.buyer == None %}
												<strong>Anónimo</strong>
												<br>Efectivo: {{sale.recivedAmount}}€
												{% else %}
												<strong>{{sale.buyer.name}}</strong>
												<br>DNI: {{sale.buyer.dni}}
												<br>Phone: {{sale.buyer.tel}}
												<br>Email: {{sale.buyer.email}}
												<br>Monedero / Efectivo: {{sale.usedWallet}}€ / {{sale.recivedAmount}}€
												{% endif %}
											</address>
										</div>
                                        <!-- /.col -->
										<div class="col-sm-4 invoice-col">
											<b>Venta:</b> {{sale.sale_code}}
											<br>
											<br>
											<b>ID Venta:</b> {{sale.pk}}
											<br>
											<b>Tot. Cobrar:</b> {{sale.totAmount}}€
											<br>
											<b>Tot. Devuelto:</b> {{sale.devolution}}€
											<br>
											<b>Beneficio:</b> {{sale.benefice}}€
										</div>
										<!-- /.col -->
									</div>
			                    </div>
			                </div>
			            </div>
			            {% endfor %}
			        </div>
			        <!-- end of accordion -->
					<!--div class="pagination">
					    <span class="step-links">
					        {% if sales.has_previous %}
					            <a href="?page={{ sales.previous_page_number }}">previous</a>
					        {% endif %}

					        <span class="current">
					            Page {{ sales.number }} of {{ sales.paginator.num_pages }}.
					        </span>

					        {% if sales.has_next %}
					            <a href="?page={{ sales.next_page_number }}">next</a>
					        {% endif %}
					    </span>
					</div-->
					<nav aria-label="Page navigation">
					  <div class="col-md-4">
					  <ul class="pagination" style="float: left;">
					    {% if sales.has_previous %}
					    <li>
					      <a href="{{request.get_full_path}}{{url_vars}}page={{ sales.previous_page_number }}" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      	Anterior
					      </a>
					    </li>
					    {% endif %}
					    {% for i in sales.paginator.page_range %}
						    {% if sales.number == i %}
						    	{% if sales.has_previous %}
								    <li>
								    	{% if sales.previous_page_number > 1 %}
								    		<a class="disabled">...</a>
								    	{% endif %}
								    	<a href="{{request.get_full_path}}{{url_vars}}page={{sales.previous_page_number}}">{{sales.previous_page_number}}</a>
								    </li>
							    {% endif %}
							    <li class="active" >
							    	<a href="{{request.get_full_path}}{{url_vars}}page={{i}}">{{i}} <span class="sr-only">(current)</span></a>
							    </li>
							    {% if sales.has_next %}
								    <li>
								    	<a href="{{request.get_full_path}}{{url_vars}}page={{sales.next_page_number}}">{{sales.next_page_number}}</a>
								    	{% if sales.next_page_number != sales.paginator.num_pages %}
							    			<a class="disabled">...</a>
							    		{% endif %}	
								    </li>
							    {% endif %}					    
						    {% endif %}
					    {% endfor %}
					    {% if sales.has_next %}
					    <li>
					      <a href="{{request.get_full_path}}{{url_vars}}page={{ sales.next_page_number }}" aria-label="Next">
					      	Siguiente
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					    {% endif %}
					  </ul>
					  </div>
					  <div class="col-md-4" style="text-align: center;">
					  </div>
					  <div class="col-md-4" style="text-align: right;">
					  <ul class="pagination">
					  <li>
					  <form method="GET" action=".">
					  		Página <input name="page_number" value="{{sales.number}}" style="width: 35px" /> de {{sales.paginator.num_pages}} 
					  		<button type="submit" class="btn btn-default" name="complete_path" value="{{request.get_full_path}}">Ir!</button>
					  </form>
					  </li>
					  </ul>
					  </div>
					</nav>

			        <!-- fin paginador -->
			    </div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}
{% block scripts %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
	  $( function() {
	    $( "#datepicker" ).datepicker();
	  } );
	  $( function() {
	    $( "#datepicker_2" ).datepicker();
	  } );
  </script>


	<script>
		 $.datepicker.regional['es'] = {
			 closeText: 'Cerrar',
			 prevText: 'Anterior',
			 nextText: 'Siguiente',
			 currentText: 'Hoy',
			 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
			 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
			 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
			 weekHeader: 'Sm',
			 dateFormat: 'dd/mm/yy',
			 firstDay: 1,
			 isRTL: false,
			 showMonthAfterYear: false,
			 yearSuffix: ''
		 };
		 $.datepicker.setDefaults($.datepicker.regional['es']);
		$(function () {
		$("#fecha").datepicker();
		});
	</script>
  <!-- my angularjs >
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.min.js"></script>
  <script src="{% static "app.js" %}" type="text/javascript" ></script>
  <script src="{% static "common/controllers/controllers.js" %}" type="text/javascript" ></script>
  <script src="{% static "common/services/services.js" %}" type="text/javascript" ></script>
  <script src="{% static "common/factories/factories.js" %}" type="text/javascript" ></script>
  < /my angularjs -->
	<!-- select2 -->
	<link href="{% static "templates/css/select/select2.min.css" %} " rel="stylesheet">
	<script>
		$(document).ready(function () {
			$(".select2_single_category").select2({
				placeholder: "Seleccione una categoría",
				allowClear: true
			})
			.on("select2:select",function() {
				/*var category = $(".select2_single_category").val();
				angular.element(document.getElementById('StartAngular')).scope().clearCategory();
				angular.element(document.getElementById('StartAngular')).scope().filterCategory(category);
				angular.element(document.getElementById('StartAngular')).scope().$apply();*/
			})
			.on("select2:unselect", function() {
				/*angular.element(document.getElementById('StartAngular')).scope().clearCategory();
				angular.element(document.getElementById('StartAngular')).scope().$apply();*/
			});

			$(".select2_single_iva").select2({
				placeholder: "Seleccione una categoría",
				allowClear: true
			})
			.on("select2:select",function() {
				/*var category = $(".select2_single_category").val();
				angular.element(document.getElementById('StartAngular')).scope().clearCategory();
				angular.element(document.getElementById('StartAngular')).scope().filterCategory(category);
				angular.element(document.getElementById('StartAngular')).scope().$apply();*/
			})
			.on("select2:unselect", function() {
				/*angular.element(document.getElementById('StartAngular')).scope().clearCategory();
				angular.element(document.getElementById('StartAngular')).scope().$apply();*/
			});
		});
	</script>
	<!-- end select2 -->
{% endblock %}