{% extends 'base.html' %}
    {% load staticfiles %}
{% block mainContent %}
      <div class="row">
          <div class="page-title">
              <div class="title_left">
                  <h3>Registrar trabajador en {{ worker_now.market }}</h3>
              </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                      <div class="x_title">
                          <h2>Formulario de Trabajador <small>Los campos con <big class='red'><b>*</b></big> son obligatorios</small></h2>
                          <ul class="nav navbar-right panel_toolbox">
                              <li>
                                <a class="collapse-link">
                                  <i class="fa fa-chevron-up"></i>
                                </a>
                              </li>
                              <li>
                                <a class="close-link">
                                  <i class="fa fa-close"></i>
                                </a>
                              </li>
                          </ul>
                          <div class="clearfix"></div>
                      </div>
                      <div class="x_content">

                        <form class="form-horizontal form-label-left" method='post' action='#' id="neWorker" enctype="multipart/form-data"> {% csrf_token %}

                          <!-- Smart Wizard -->
                          <div id="wizard" class="form_wizard wizard_horizontal">
                              <ul class="wizard_steps">
                                  <li>
                                    <a href="#step-1">
                                      <span class="step_no">1</span>
                                      <span class="step_descr">
                                        Paso 1<br />
                                        <small>Datos del Trabajador (1 de 3)</small>
                                      </span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#step-2">
                                      <span class="step_no">2</span>
                                      <span class="step_descr">
                                        Paso 2<br />
                                        <small>Datos del Trabajador (2 de 3)</small>
                                      </span>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="#step-3">
                                      <span class="step_no">3</span>
                                      <span class="step_descr">
                                        Paso 3<br />
                                        <small>Dirección del Trabajador (3 de 3)</small>
                                      </span>
                                    </a>
                                  </li>
                              </ul>
                                <div id="step-1">
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Nombre de usuario <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newuser.username }}
                                      {{ newuser.username.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      E-mail <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newuser.email }}
                                      {{ newuser.email.error }}
                                    </div>
                                  </div>
                                  {% if not is_mod %}
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Contraseña <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newuser.password1 }}
                                      {{ newuser.password1.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Repita contraseña <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newuser.password2 }}
                                      {{ newuser.password2.error }}
                                    </div>
                                  </div>
                                  {% endif %}
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Nombre de pila <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newuser.first_name }}
                                      {{ newuser.first_name.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Apellidos <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newuser.last_name }}
                                      {{ newuser.last_name.error }}
                                    </div>
                                  </div>
                                </div>
                                <div id="step-2">
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      DNI <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ neworker.dni }}
                                      {{ neworker.dni.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Género <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6">
                                      <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default{% if worker_now.genre == 'Hombre' and is_mod %} active{% endif %}">
                                          {% if worker_now.genre == 'Hombre' and is_mod %}
                                          <input type="radio" name="genre" id="id_genre_0" autocomplete="off" value="Hombre" checked> Hombre
                                          {% else %}
                                          <input type="radio" name="genre" id="id_genre_0" autocomplete="off" value="Hombre"> Hombre
                                          {% endif %}
                                        </label>
                                        <label class="btn btn-default{% if worker_now.genre == 'Mujer' and is_mod %} active{% endif %}">
                                          {% if worker_now.genre == 'Mujer' and is_mod %}
                                          <input type="radio" name="genre" id="id_genre_1" autocomplete="off" value="Mujer" checked> Mujer
                                          {% else %}
                                          <input type="radio" name="genre" id="id_genre_1" autocomplete="off" value="Mujer"> Mujer
                                          {% endif %}
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Nº. Seguridad Social <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ neworker.segSocial }}
                                      {{ neworker.segSocial.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Teléfono <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ neworker.tel1 }}
                                      {{ neworker.tel1.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                      Teléfono <span class="required"><small>(Opcional)</small></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ neworker.tel2 }}
                                      {{ neworker.tel2.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                      Foto de perfil <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ neworker.image }}
                                      {{ neworker.image.error }}
                                      <label for="id_image">
                                          <a class="btn btn-default"><icon class="glyphicon glyphicon-open"></icon> Seleccione un archivo</a>
                                          <a id="modal-button" data-toggle="modal" data-target="#myModal" hidden="">
                                           ó Previsualizar Imagen
                                          </a>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div id="step-3">
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Localidad <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newAddress.location }}
                                      {{ newAddress.location.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Provincia <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newAddress.province }}
                                      {{ newAddress.province.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Código Postal <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newAddress.postalCode }}
                                      {{ newAddress.postalCode.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Dirección <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newAddress.direction }}
                                      {{ newAddress.direction.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Número <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newAddress.numDir }}
                                      {{ newAddress.numDir.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Escaleras <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newAddress.stairs }}
                                      {{ newAddress.stairs.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Planta <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newAddress.numFlat }}
                                      {{ newAddress.numFlat.error }}
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">
                                      Localidad <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      {{ newAddress.door }}
                                      {{ newAddress.door.error }}
                                    </div>
                                  </div>
                                </div>
                                <div>
                                    <input type="hidden" name="neWorkerForm" value="registerUser">
                                    <!--button class="btn btn-default submit" type="submit">Registrar</a-->
                                </div>

                          </div>
                          <!-- End SmartWizard Content -->
                        </form>
                      </div>
                  </div>
              </div>

          </div>
      </div>


  <div class="clearfix"></div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Previsualizar Imagen</h4>
          </div>
          <div class="modal-body col-md-12">
            <img id="image_to_show" style="max-width: 100%" />  
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
  <script src="{% static "common/templates/js/textarea/autosize.min.js" %} "></script>
  <script type="text/javascript">
      $(document).ready(function () {
        autosize($('.resizable_textarea'));
          $('#id_image').hide();
          document.getElementById("id_image").onchange = function () {
              var reader = new FileReader();

              reader.onload = function (e) {
                  // get loaded data and render thumbnail.
                  document.getElementById("image_to_show").src = e.target.result;
              };

              // read the image file as a data URL.
              reader.readAsDataURL(this.files[0]);
              $('#myModal').modal('show');
              $('#modal-button').show();
          };
      });
  </script>
  <!-- form wizard -->
  <script type="text/javascript" src="{% static "common/templates/js/wizard/jquery.smartWizard.js" %}"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          // Smart Wizard
          $('#wizard').smartWizard();

          function onFinishCallback() {
              $('#wizard').smartWizard('showMessage', 'Finish Clicked');
                alert('Finish Clicked');
          }
      });

      $(document).ready(function () {
          // Smart Wizard
          $('#wizard_verticle').smartWizard({
              transitionEffect: 'slide'
          });

      });
  </script>
{% endblock %}